@font-face {
    font-family: 'Ubuntu';
    src: url(fonts/Ubuntu.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu-Light';
    src: url(fonts/Ubuntu-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu-Mono';
    src: url(fonts/UbuntuMono.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu-Condensed';
    src: url(fonts/Ubuntu-Condensed.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu-Medium';
    src: url(fonts/Ubuntu-Medium.ttf) format('truetype');
}
body {
    font-family: 'Ubuntu';
}
.error {
    color: red;
}
.warning {
    color: #cece00;
}
input,
textarea {
    font-family: 'Ubuntu-Mono';
}
select {
    font-family: 'Ubuntu-Light';
}

a.btn {
    font-family: 'Ubuntu-Light';
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Ubuntu-Medium';
}
 
 
::-webkit-scrollbar {
    width: 5px;
    background-color: #1c1e1f;
    color: #c5c1b9;
}
::-webkit-scrollbar-thumb {
    background-color: #2a2c2e;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #323537;
}
::-webkit-scrollbar-thumb:active {
    background-color: #3d4043;
}
::-webkit-scrollbar-corner {
    background-color: #181a1b;
}
* {
    scrollbar-color: #2a2c2e #1c1e1f;
}