@font-face {
    font-family: 'Ubuntu';
    src: url(fonts/Ubuntu.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu-Light';
    src: url(fonts/Ubuntu-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu-Mono';
    src: url(fonts/UbuntuMono.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu-Condensed';
    src: url(fonts/Ubuntu-Condensed.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu-Medium';
    src: url(fonts/Ubuntu-Medium.ttf) format('truetype');
}
body {
    font-family: 'Ubuntu';
}
.error {
    color: red;
}
.warning {
    color: #cece00;
}
input,
textarea {
    font-family: 'Ubuntu-Mono';
}
select {
    font-family: 'Ubuntu-Light';
}

a.btn {
    font-family: 'Ubuntu-Light';
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Ubuntu-Medium';
}
